body{
    background-color: lightgoldenrodyellow;
}
.main-ctr{
display: grid;

    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}

.container{
    grid-area: c;
    background-color: burlywood;
    margin: 10px;
    margin-right: 0px;
}

